.zlat {
	background-image: url(./../../img/slider/bg.jpg);
	background-position: center;

	position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			opacity: .5;

		}
}

.zlat-wrapper {
	padding: 60px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;

	position: relative;
	z-index: 3;
}
.zlat-title {
	font-weight: 700;
	font-size: 30px;
	color: $yellow;
}
.zlat-text {
	color: $white;
}
